@model WebApplication1.Models.Department
@{
    ViewData["Title"] = "Add Department Data";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Department" asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="DepartmentCode" class="form-label">Department Code</label>
                <input asp-for="DepartmentCode" class="form-control" placeholder="" />
                <span asp-validation-for="DepartmentCode" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DepartmentNm" class="form-label">Department</label>
                <input asp-for="DepartmentNm" class="form-control" placeholder="" />
                <span asp-validation-for="DepartmentNm" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Department" asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>
