@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <h2 class="mb-4">Dashboard</h2>

    <div class="mt-4">
        <h4>Jumlah Karyawan per Department</h4>
        <img src="/Home/DepartmentChart?v=@DateTime.Now.Ticks" alt="Department Chart" class="img-fluid" />
    </div>

    <div class="mt-4">
        <h4>Distribusi Gender</h4>
        <img src="/Home/GenderChart?v=@DateTime.Now.Ticks" alt="Gender Chart" class="img-fluid" />
    </div>
</div>
